<ion-header>
    <ion-navbar>
        <button ion-button
                menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Questionários</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-content>
            <ion-list>
                <button *ngIf="tipo=='professor'" ion-button color="secondary" (click)="navegarParaAdicionarQuestionarios()"
                full>Adicionar Questionário</button>    
                <div *ngIf="turma.questionarios">
                    <button ion-button *ngFor="let questionario of turma.questionarios" (click)="navegarParaQuestionario(questionario.questoes)" full>{{questionario.nome}}</button>
                </div>
            </ion-list>
        </ion-card-content>
    </ion-card>

</ion-content>
